{% extends "layout.html" %}

{% block title %}Credits{% endblock %}

{% block content %}
<h1>About the Creator</h1>
<section id="creator-info">
    <p>This website was designed and developed by Harvard freshman <strong>Jeffrey Zhou</strong>.</p>
    <p>
        Hey, I'm Jeffrey and I want to change the way people are able to socialize on campus. :)
        connectED is my solution to the problem of FOMO on college campuses.
    </p>
    <p>
        If you have any feedback or questions about this site, feel free to reach out at jeffreyzhou@college.harvard.edu!
    </p>
    <p>&copy; 2024 Jeffrey Zhou. All rights reserved.</p>
</section>
{% endblock %}
